@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

*,
*::before,
*::after,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000;
    color: #00ff19;
    font-family: 'Courier Prime', monospace;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
